<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="人生重开模拟器，云开发平台一键部署。"/>
    <meta name="keywords" content="人生重开模拟器 liferestart life restart remake 人生重来"/>
    <link id="themeLink" rel="stylesheet" href="light.css">
    <link rel="manifest" href="./manifest.json">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="./bundle.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script>
    $(function(){
        var url = location.href.split('#').toString();
        $.ajax({
            type : "get",
            url : "http://www.manta.org.cn/wechatParam",
            dataType : "json",
            async : false,
            data:{url: url},
            success : function(data) {
                wx.config({
                    debug: true,////生产环境需要关闭debug模式
                    appId: data.appid,//appId通过微信服务号后台查看
                    timestamp: data.timestamp,//生成签名的时间戳
                    nonceStr: data.nonceStr,//生成签名的随机字符串
                    signature: data.signature,//签名
                    jsApiList: [//需要调用的JS接口列表
                        'checkJsApi',//判断当前客户端版本是否支持指定JS接口
                        'updateAppMessageShareData',//分享给好友
                        'updateTimelineShareData'//分享到朋友圈
                    ]
                });
            },
            error: function(xhr, status, error) {
                alert(status);
                alert(xhr.responseText);
            }
        })
    });
    wx.ready(function () {      //需在用户可能点击分享按钮前就先调用
            wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
                wx.updateAppMessageShareData({
                    title: '人生重开模拟器，这垃圾人生一秒也不想呆了', // 分享标题
                    desc: '开挂的人生，就是如此彪悍，点开看看你的人生会是怎样的', // 分享描述
                    link: 'http://life-restart.manta.org.cn', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: './images/share.jpeg', // 分享图标
                    success: function () {
                    // 设置成功
                    }
                });
                wx.updateTimelineShareData({
                    title: '人生重开模拟器，这垃圾人生一秒也不想呆了', // 分享标题
                    desc: '开挂的人生，就是如此彪悍，点开看看你的人生会是怎样的', // 分享描述
                    link: 'http://life-restart.manta.org.cn', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: './images/share.jpeg', // 分享图标
                    success: function () {
                    // 设置成功
                    }
                })
            }),
            wx.success(function(res){
                console.log("错误信息"+res);
            //config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            });
        });
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?3d0aef3ef36c7a01b5e5586d69e76dc5";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>        
    <title>重开人生</title>
</head>
<body style="margin: 0; height: 100%"></body>
<script>
  if ('serviceWorker' in navigator) {
      window.addEventListener('load', function () {
          navigator.serviceWorker.register('./sw.js', {scope: '.'})
              .then(function (registration) {
                  console.log('ServiceWorker registration successful');
              })
              .catch(function (err) {
                  console.log('ServiceWorker registration failed');
              });
      });
  }
  </script>
</html>
